/*OVERALL LAYOUT*/
.mp-container {
  margin: 28px auto;
  width: 1000px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  height: 600px;
  display: grid;
  grid-template-columns: 350px 650px;
}

/*------------------LEFT------------------*/
.mp-container-left {
  position: relative;
  background: linear-gradient(
    90deg,
    rgb(184, 171, 219) 0%,
    rgb(55, 105, 103) 100%
  );
  border-right: 2mm ridge rgba(181, 240, 255, 0.932);
  border-radius: 10px 0 0 10px;
}

.mp-container h1 {
  margin-top: 20px;
  color: white;
  text-align: center;
}

.mp-profile {
}

.box-profile {
  margin: auto;
  width: 200px;
  height: 200px;
  border-radius: 30%;
  overflow: hidden;
  background: #873b96;
}
.profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*------------------LEFT END------------------*/

/*---------------RIGHT START---------------------*/
.mp-container-right {
  position: relative;
  background: linear-gradient(
    90deg,
    rgb(55, 105, 103) 0%,
    rgb(25, 182, 177) 100%
  );
  border-radius: 0 10px 10px 0;
}

.right-form {
  width: 600px;
  height: 250px;
  position: relative;
  margin: 20px auto;
  top: 30%;
  left: 32%;
}

.mp-container-right ul {
  list-style-type: none;
}
.mp-container-right li {
  float: bottom;
  font-weight: bold;
  font-size:20px;
}
.lux {
  width: 50px;
  height: 50px;
}
.list-info {
  border: black solid;
}

.favchamp-info {
  display: flex;
  flex-direction: column;
}
/*---------------RIGHT END---------------------*/
