.beigeLayer-wr {
  width: 704px;
  background: url(../../images/background.jpg);
  margin-left: 420px;
  padding-bottom: 12px;
  margin-top: 20px;
  padding-top: 1px;
  color: white;
}

.beigeLayer-wr .detail-main-wr {
  width: 650px;
  min-height: 900px;
  overflow: hidden;
  background: #000917 none no-repeat right top;
  background-image: url("../../images/unnamed.jpg");
  margin: 23px 0px 0px 27px;
  padding-bottom: 6px;
}
.beigeLayer-wr .detail-main-wr .detail-shadow-wr {
  width: 650px;
  min-height: 900px;
  background: no-repeat left top;
  background-image: url("../../images/shadow.png");
  display: grid;
  grid-template-rows: 200px 550px;
}
.title-wr {
  width: 650px;
  height: 200px;
  font-size: 17px;
  font-weight: bold;
  color: rgb(255, 186, 0);
  margin: 44px 0px 0px 18px;
}

.radiocontainer {
  width: 600px;
  display: flex;
  justify-content: space-between;
}

.wr-textarea {
  min-width: 600px;
  min-height: 500px;
}

.titleinput {
  margin-left: 10px;
  width: 550px;
}
.titlesemi {
  display: flex;
  margin-bottom: 15px;
}

.content-h3 {
  color: rgb(255, 186, 0);
  text-align: left;
  margin-left: 15px;
}

.content-dt-wr {
  position: relative;
  color: white;
  text-align: center;
  margin-right: 17px;
}

.wr-button {
  text-align: center;
}
